#playlist, audio {
    background: #666;
    width: 400px;
    padding: 20px;
  }
  #playlist h2 {
    margin: 0px;
  }
  .active a {
    color:#14f214;
    text-decoration: none;
  }
  ul {
    list-style-type: none;
  }
  li a {
    color:  #eeeedd;
    background: #333;
    padding: 5px;
    display: block;
    text-decoration: none;
  }
  li:not(.active) a:hover {
    color: #5DB0E6;
  }
